#root {
    height: 100vh;
    /* border: 2px solid; */
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "navbar"
    "list";
    box-sizing: border-box;
    
}

body, html {
    margin: 0;
    padding: 0;
    background: #E1D5D1;
}